  
  body{
    background-color: blue;
    background-image: url('https://source.unsplash.com/random/?programmer');

}

/* NAVBAR */

.u1{
    background-color: aliceblue;
    display: flex;
    padding: 0% 22% ;
    border-radius: 4px;
}


.l1{
    padding:  0% 8%;
    margin: 6px;
    text-decoration:none;
    list-style-type:none;
    
}

.l1:hover{
    cursor: pointer;
    color: yellow;
    text-decoration:dashed;
}

.u2{
    display: grid;
    padding: 2%;
}








/* CONTENT */

.l2{
    display: inline;
    width: 188px;
    background-color: aquamarine;
    margin: 2%;
    border-radius:4px;
    /* padding: 12%; */
    list-style-type:none;
    grid-template-columns: repeat( 4 , 1fr );
    grid-template-rows: repeat(4, 1fr );
    text-align: center;
    /* grid-template-rows: 12px; */
}



.l2 a{
    list-style-type:none;
    text-decoration:none;
}




.l3{
    display: inline;
    width: 188px;
    background-color: aquamarine;
    /* margin: 2%; */
    border-radius:4px;
    /* padding: 12%; */
    margin: 0 22%;
    list-style-type:none;
    grid-template-columns: repeat( 4 , 1fr );
    grid-template-rows: repeat(4, 1fr );
    text-align: center;
    /* grid-template-rows: 12px; */
}



.l3 a{
    list-style-type:none;
    text-decoration:none;
}



.l4{
    display: inline;
    width: 188px;
    background-color: aquamarine;
    /* margin: 2%; */
    border-radius:4px;
    margin: 2% 42%;
    list-style-type:none;
    grid-template-columns: repeat( 4 , 1fr );
    grid-template-rows: repeat(4, 1fr );
    text-align: center;
    /* grid-template-rows: 12px; */
}



.l4 a{
    list-style-type:none;
    text-decoration:none;
}


.l5{
    display: inline;
    width: 188px;
    background-color: aquamarine;
    /* margin: 2%; */
    border-radius:4px;
    margin: 0 62%;
    list-style-type:none;
    grid-template-columns: repeat( 4 , 1fr );
    grid-template-rows: repeat(4, 1fr );
    text-align: center;
    /* grid-template-rows: 12px; */
}



.l5 a{
    list-style-type:none;
    text-decoration:none;
}






  


/* LOGO  */

#l202{
    list-style-type:none;
    margin-right:12px;
    }
    #l202 img { 
        width: 42px;
        height:42px;
    
    }
    
    
    

    

  
  
  /* FOOTER */

    footer{
        background-color: rgb(37, 35, 35);
        text-align: center;
        border-bottom: 2px;
        border-radius: 7px;
        color: wheat;
        padding-inline: 6px;
    }
    